Options -MultiViews
RewriteEngine On
RewriteBase /
RewriteBase /subdirectory
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^ index.html [QSA,L]
RewriteCond %{HTTP_HOST} ^kardabel.com$
RewriteRule ^(.*) https://www.kardabel.com/$1 [QSA,L,R=301]